#accueil {
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Place les éléments verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    height: 100vh; /* Occupe toute la hauteur de la fenêtre */
    background-color: #002800; /* Couleur de fond */
    padding: 20px;
}

#accueil .content h1 {
    font-size: 36px;
    color: #86cc86; /* Vert clair */
    margin-bottom: 10px;
}

#accueil .content p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

#accueil .content img {
    max-width: 90%; /* L'image ne dépassera pas la largeur de l'écran */
    height: auto;
    border-radius: 8px; /* Ajout d'arrondi aux coins */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Effet d'ombre */
}